<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <!-- 连接池配置 -->
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <!-- host -->
        <constructor-arg index="1" value="127.0.0.1" type="java.lang.String"/>
        <!-- port -->
        <constructor-arg index="2" value="6379" type="int"/>
    </bean>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="60"/>
        <property name="maxIdle" value="10"/>
        <property name="maxWaitMillis" value="10000"/>
        <property name="testOnBorrow" value="false"/>
    </bean>



</beans>